# === Database ===
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=streamplatform

# === Backend ===
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://root:password@localhost:5432/streamplatform?schema=public
JWT_ACCESS_SECRET=generate_32_char_secret_here
JWT_REFRESH_SECRET=generate_32_char_secret_here